img {
  border-radius: 50%;
  float: left;
  height: 150px;
  width: 150px;
}
body {
  font-family: sans-serif;
}
 h1 {
   color: goldenrod;
   text-align: left;
   font-style: underline;
 }

  h2 :first-of-type {
  font-size: 30px;
  text-shadow: greenyellow;
  text-align: left;
  background-color: hotpink;
  font-style: inherit;
  text-decoration: rgb(139, 31, 31);
}

.resp ol {
  background-color: teal;
}


.hobbies ol {
  font-style: italic;
  color: goldenrod;
}

.boxModel {
  margin: 2px;
  border: 2px solid green;
  padding: 4px;
  background-color: wheat;
}

.hobbies ol a {
  font-style: normal;
  background-color: pink;
}

.boxModel2 {
  margin: 1px;
  border: 1px salmon;
  padding: 2px;
  background-color: rgb(214, 171, 91);
}

.sidebar {
  width: 40%;
  float: left;
  background-color: rgb(147, 226, 171);
}

.sidebar2 {
  width: 40%;
  float: right;
  background-color: rgb(205, 226, 147);
}