img {
  border-radius: 50%;
  float: left;
  height: 150px;
  width: 150px;
}

body {
  font-family: sans-serif;
}
 h1 {
   color: rgb(1, 1, 32);
   text-align: left;
   font-style: underline;
   text-align: center;
 }

  h2 :first-of-type {
  font-size: 30px;
  text-shadow: greenyellow;
  text-align: left;
  font-style: inherit;
  text-decoration: rgb(139, 31, 31);
}

.resp ol {
  background-color: rgb(204, 226, 226);
}


.hobbies ol {
  font-style: italic;
  color: goldenrod;
}

.boxModel {
  margin: 2px;
  border: 1px solid rgb(140, 140, 214);
  padding: 4px;
  background-color: rgb(221, 232, 240);
}

.hobbies ol a {
  font-style: normal;
  background-color: pink;
}

.boxModel2 {
  margin: 1px;
  border: 1px salmon;
  padding: 2px;
  background-color: rgb(186, 225, 231);
}

.sidebar {
  width: 40%;
  float: left;
  /*background-color: rgb(147, 226, 171);*/
}

.sidebar2 {
  width: 40%;
  float: right;
  /*background-color: rgb(205, 226, 147);*/
}